* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--bg-color);
  }

  /* //////////////////////////////////////////////////////////////////// */

  /* APP */
  .app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height: 100vh;
  }

/* //////////////////////////////////////////////////////////////////// */

  /* SECTIONS PRINCIPAIS */

  section{
    width:100%;
  }

/* //////////////////////////////////////////////////////////////////// */

  /* LUTADORES */

  .lutadores{
    display: grid;
    grid-template-columns:  auto auto;
  }

  /* //////////////////////////////////////////////////////////////////// */

  /* PLAYERS */

  .player1{
    display: flex;
    justify-content: space-evenly;
  }

  .player2{
    display: flex;
    justify-content: space-evenly;
  }

/* //////////////////////////////////////////////////////////////////// */

/* TÍTULOS */

  .titulos{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .titulos div{
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
  }

/* //////////////////////////////////////////////////////////////////// */

/* PONTOS */

  .pontos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

/* //////////////////////////////////////////////////////////////////// */

/* MARCADORES */

  .marcador{
    display: flex;
    padding: 30px;
    column-gap: 20px;
  }

  .marcador-player1 .pontuacao{
    background-color: var(--p1-primary-color);
    padding: 1rem;
    color: #FFFF
  }

  .marcador-player2 .pontuacao{
    background-color: #FFFF;
    padding: 1rem;
    color: #000;
  }

 
 /* //////////////////////////////////////////////////////////////////// */

/* BOTÕES */

  .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .btns button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    font-weight: bold;
    font-size: 20px;
    transition: background-color .3s;
  }

  .btns button:hover{
    cursor: pointer;
    background-color: var(--button-bg-color-hover);
    color: var(--button-bg-color);
  }

 /* //////////////////////////////////////////////////////////////////// */

/* PONTUAÇÃO */

  .pontuacao{
    align-self: center;
    font-size: 4rem;
    font-weight: bold;
  }

/* //////////////////////////////////////////////////////////////////// */

/* PONTUAÇÃO TOTAL */
  .pontos-total{
    display: flex;
    align-items: center;
  }

  .pontos-total div{
    font-size: 20rem;
    font-weight: bold;
  }

  .pontos-total-player1{
    background-color: var(--p1-primary-color);
  }

  .pontos-total-player2{
    background-color: #FFFF;
  }

  .pontos-total-player1 div{
    padding: 0 7rem;
    color:#FFFF;
  }

  .pontos-total-player2 div{
    padding: 0 7rem;
    color:#000;
  }

  /* //////////////////////////////////////////////////////////////////// */

  /* CRONÔMETRO */

  .cronometro{
    display: flex;
    justify-content: space-around;
    background-color: #000;
  }


.vantagem, .punicao{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    text-align: center;
}

.vantagem h3, .punicao h3{
    font-size:1.6rem;
    font-weight: bold;
}

.marcador-vantagem, .marcador-punicao{
    font-size: 5rem;
    font-weight: bold;
    color: #FFFF;

}

.vantagem{
    background-color: #08d608;
}

.punicao{
    background-color: #ea0101;
}

  .crn-btns{
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  .crn-btns button{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    font-weight: bold;
    font-size: 20px;
    transition: background-color .3s;
  }

  .crn-btns button:hover{
    cursor: pointer;
    background-color: var(--button-bg-color-hover);
    color: var(--button-bg-color);
  }

  .timer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer div{
    font-size: 12rem;
    font-weight: bold;
    color:#FFFF;
  }
  
